* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* border: 1px solid #000; */
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    height: 100vh;
}

.home {
    background: linear-gradient(to right, #58e06a, #2f88ac);
    color: #fff;
    display: flex;
    align-items: center;
}

.home__contain {
    margin-left: 100px;
    width: 600px

}

.home__title {
    font-size: 50px;
    margin-bottom: 20px;

}

.home__dec {
    font-size: 18px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width : 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    background-color: #333;
    color: #fff;
}

.about__title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg , #287285, #fff);
}

.team > div {
    width : 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #444;
}

.team__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-to-right {
    transform: translateX(-200%);
    transition: 0.8s;
}

.left-to-right.start {
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(200%);
    transition: 0.8s;
}

.right-to-left.start {
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
    transition: 0.8s;
}

.zoom.start {
    transform: scale(1);
}