* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(226, 250, 250);
    font-family: Tahoma
}

.container {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 15px #445;
    background-color: #fff;
}

.image {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 0 10px #999;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.info {
    flex: 1;
}

h2 {
    height : 40px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 10px;
}

p{
    height: 100px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 10px;
}

button {
    height: 38px;
    width: 120px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #161616;
    color: #fff;
    padding: 6px 10px;
    border: none;
}

.loading {
    position: relative;
    background-color: #b6b6b6;
    overflow: hidden;

}

.loading::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( to right , #fdfafa, transparent);
    transform: translateX(-100%);
    animation: wave 1s ease infinite ;
}

@keyframes wave {
    100% {
        transform: translateX(100%);
    }
}

