* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8cc84c;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.wapper {
    width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 5px #333;
    padding: 20px;
}

.content {
    border: 1px solid #888;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin: 30px 0;
}

.content__tags {
    background-color: var(--primary-color);
    padding : 5px;
    margin: 0 8px 8px 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

.content__icon {
    font-size: 20px;
}

.content__icon:hover {
    cursor: pointer
}

.content__input {
    font-size: 20px;
    margin-top: 5px;
    flex: 1;
    outline: none;
    border: none;
}

.remove-all {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border: none;
}

.remove-all:hover {
    background-color: #74aa3b;
    cursor: pointer;
}