* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

body {
    background: linear-gradient(to right , #6ab6b2, #6e57ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter {
    padding:  20px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: rgb(54, 107, 153);
    border-radius: 10px;
}

h3 {
    text-decoration:underline;
}

p {
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}